{% if shop.customer_accounts_enabled %}
  {% if customer  %}
	<a href="/wishlist">Wish list</a>
	<a href="/account">My Account</a>
  {% else %}
	{{ 'Log In' | customer_login_link }}
	{{ 'Wishlist' | customer_register_link }}
	{% endif %}
{% endif %}
