<form action="//heroineboutique.us4.list-manage.com/subscribe/post?u=7935ec6bf574a784d18fd282e&id=79932de52b" method="post" name="mc-embedded-subscribe-form" target="_blank" novalidate>
<div class="newsletter-inputs">
	<div class="form-item">
		<input type="email" name="EMAIL" value="" class="form-text required" placeholder="EMAIL ADDRESS">
	</div>
	<input type="image" src="{{ 'submit-button.png' | asset_url }}" name="op" id="edit-submit-1" alt="Submit" class="form-submit">
</div>
</form>
