<form action="/press" accept-charset="UTF-8" method="post" id="mailchimp_subscribe_anon_form_79932de52b" _lpchecked="1">
<div class="newsletter-inputs">
	<div class="form-item" id="edit-mailchimp-lists-79932de52b-EMAIL-wrapper">
		<label for="edit-mailchimp-lists-79932de52b-EMAIL">Email Address: <span class="form-required" title="This field is required.">*</span></label>
		<input type="text" maxlength="128" name="mailchimp_lists[79932de52b][EMAIL]" id="edit-mailchimp-lists-79932de52b-EMAIL" size="25" value="" class="form-text required" placeholder="EMAIL ADDRESS">
	</div>
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE3]" id="edit-mailchimp-lists-79932de52b-MMERGE3" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE4]" id="edit-mailchimp-lists-79932de52b-MMERGE4" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE5]" id="edit-mailchimp-lists-79932de52b-MMERGE5" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE6]" id="edit-mailchimp-lists-79932de52b-MMERGE6" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE7]" id="edit-mailchimp-lists-79932de52b-MMERGE7" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE8]" id="edit-mailchimp-lists-79932de52b-MMERGE8" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE9]" id="edit-mailchimp-lists-79932de52b-MMERGE9" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE10]" id="edit-mailchimp-lists-79932de52b-MMERGE10" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE11]" id="edit-mailchimp-lists-79932de52b-MMERGE11" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE12]" id="edit-mailchimp-lists-79932de52b-MMERGE12" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE13]" id="edit-mailchimp-lists-79932de52b-MMERGE13" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE14]" id="edit-mailchimp-lists-79932de52b-MMERGE14" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE15]" id="edit-mailchimp-lists-79932de52b-MMERGE15" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE16]" id="edit-mailchimp-lists-79932de52b-MMERGE16" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE17]" id="edit-mailchimp-lists-79932de52b-MMERGE17" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE18]" id="edit-mailchimp-lists-79932de52b-MMERGE18" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE19]" id="edit-mailchimp-lists-79932de52b-MMERGE19" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE20]" id="edit-mailchimp-lists-79932de52b-MMERGE20" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE21]" id="edit-mailchimp-lists-79932de52b-MMERGE21" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE22]" id="edit-mailchimp-lists-79932de52b-MMERGE22" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE23]" id="edit-mailchimp-lists-79932de52b-MMERGE23" value="">
	<input type="hidden" name="mailchimp_lists[79932de52b][MMERGE24]" id="edit-mailchimp-lists-79932de52b-MMERGE24" value="">
	<input type="hidden" name="form_build_id" id="form-xo_Q8ynVfYNQavPoybbcmgtfB101WQYeAq3oMnSw3wM" value="form-xo_Q8ynVfYNQavPoybbcmgtfB101WQYeAq3oMnSw3wM">
	<input type="hidden" name="form_id" id="edit-mailchimp-subscribe-anon-form-79932de52b" value="mailchimp_subscribe_anon_form_79932de52b">
	<input type="image" src="{{ 'submit-button.png' | asset_url }}" name="op" id="edit-submit-1" alt="Submit" class="form-submit">
</div>
</form>
