{% if paginate.pages > 3 %}
{% unless template == 'customers/account' %}<footer id="pagination-area" class="font--georgia">{% endunless %}
  <div class="pagination-buttons">
    {% if paginate.next %}
		<a href="{{ paginate.next.url }}" class="fl">{{ 'general.pagination.next' | t }}</a>
    {% endif %}
    {% if paginate.previous %}
		<a href="{{ paginate.previous.url }}" class="fr">{{ 'general.pagination.previous' | t }}</a>
    {% endif %}
  </div>
{% unless template == 'customers/account' %}</footer>{% endunless %}
{% endif %}
