<div id="blog">
  <!-- Begin content -->
  <div class="articles fl">
		{% include 'blog-article' %}
  </div>
  <!-- End content -->
	<!-- Begin sidebar -->
	{% include 'blog_sidebar' %}
	<!-- End sidebar -->
</div>
