<div id="blog">
	<h1>{{ blog.title }}</h1>
  <!-- Begin content -->
  <div class="articles fl">
    {% paginate blog.articles by 10 %}
		{% for article in blog.articles %}
			{% include 'blog-article' %}
      {% unless forloop.last %}
      <hr class="divider" />
      {% endunless %}
		{% endfor %}
		{% include 'pagination' %}
    {% endpaginate %}
  </div>
  <!-- End content -->
	<!-- Begin sidebar -->
	{% include 'blog_sidebar' %}
	<!-- End sidebar -->
</div>
