<div id="collection">
	<h1 class="collection-title">{{ collection.title }}</h1>
  {% paginate collection.products by settings.pagination_limit %}
  {% if collection.products.size == 0 %}
	<p>Sorry, right now there are no products to show. We will be adding new products soon.</p>
	{% else %}
  <div class="row products">
    {% for product in collection.products %}
      {% include 'product-loop' with collection.handle %}
    {% endfor %}
  </div>
  {% endif %}
  {% include 'pagination' %}
  {% endpaginate %}
</div>
