{% if collection %}
{% include 'collection-menu' %}
<p id="back-button" class="fr"><a href="{{ collection.url }}" title="{{ collection.title | escape }}">Back</a></p>
{% endif %}
{% include 'product' %}
